<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jinal Weds Harshad</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/ionicons.min.css" rel="stylesheet">
    <link href="../static/css/css9d23.css?family=Great+Vibes" rel="stylesheet">
    <link href="../static/css/css60bd.css?family=Montserrat:300,400,400i,700,700i" rel="stylesheet">
    <link href="../static/css/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="../static/css/owl-carousel/owl.carousel.min.css" rel="stylesheet">
    <link href="../static/css/owl-carousel/owl.theme.default.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/countdown.css" rel="stylesheet">

    <script src="../static/js/html5shiv.min.js"></script>
    <script src="../static/js/respond.min.js"></script>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
    <style>
      #owl-demo .item{
        margin: 3px;
      }
      #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
      }
    </style>
    <style>
      .row > .column {
        padding: 0 8px;
      }

      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      .column {
        float: left;
        width: 25%;
      }

      /* The Modal (background) */
      .modal {
        display: none;
        position: fixed;
        z-index: 100;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: black;
      }

      /* Modal Content */
      .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        width: 90%;
        max-width: 1200px;
      }

      /* The Close Button */
      .close {
        color: white;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
      }

      .mySlides {
        display: none;
      }

      /* Next & previous buttons */
      .prev,
      .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
      }

      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }

      /* On hover, add a black background color with a little bit see-through */
      .prev:hover,
      .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }

      /* Number text (1/3 etc) */
      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }

      .caption-container {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
      }

      img.demo {
        opacity: 0.6;
      }

      .active,
      .demo:hover {
        opacity: 1;
      }

      img.hover-shadow {
        transition: 0.3s
      }

      .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
      }

    </style>
  </head>
  <body>
    <header>
      <!-- NAVBAR SECTION-->
      <!-- <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid"><a class="navbar-brand" href="#"><img src="../static/../static/img/clarissa-logo.svg" alt="clarissa logo"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-section" aria-control="navbar-section" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbar-section">
            <ul class="navbar-nav ml-auto d-flex align-items-center">
              <li class="nav-item"><a class="nav-link text-uppercase" href="#welcome-section">welcome</a></li>
              <li class="nav-item"><a class="nav-link text-uppercase" href="#bride-profile-section">brides</a></li>
              <li class="nav-item"><a class="nav-link text-uppercase" href="#groom-profile-section">grooms</a></li>
              <li class="nav-item"><a class="nav-link text-uppercase" href="#events-section">events</a></li>
              <li class="nav-item"><a class="nav-link text-uppercase" href="#testimony-section">testimony</a></li>
              <li class="nav-item"><a class="nav-link text-uppercase" href="#gallery-section">gallery</a></li>
              <li class="nav-item"><a class="nav-link text-uppercase" href="#blog-section">blog</a></li>
              <li class="nav-item"><a class="nav-link text-uppercase" href="#gift-section">gift</a></li>
              <li class="nav-item cta-rspv"><a class="nav-link text-uppercase" href="#rspv-section"><span>rspv</span><span>now</span></a></li>
            </ul>
          </div>
        </div>
      </nav> -->
      <!-- BANNER SECTION-->
      <section id="banner-standart-1" style="background-image:url('../static/img/banner.png');   ">
          <!-- <img style="height:150px;position: absolute; left:0;top:0;" src="../static/img/logo2.png"> -->
        <div class="container-fluid">
          <div class="banner-content" style="height: 100%; margin:auto">
            <!-- <div class="banner-heading">
              <h1 style="font-size: 40px; font-family: "Montserrat", sans-serif;">Save The Date</h1>
            </div> -->
            <!-- <div class="banner-sub-heading">
              <h2 class="text-uppercase" style="color:#fff3f1; background-color: #5c3575; border-radius: 20px; padding:10px 30px;">save the date</h2>
            </div> -->
            <div class="banner-heading">
              <!-- <img style="height:200px; width:200px;position: absolute; left:0;" src="../static/img/logo.png"> -->
              <!-- <div class="flower left"><img src="../static/img/flower.svg" alt="banner flower image"></div>
              <div class="flower right"><img src="../static/img/flower.svg" alt="banner flower image"></div> -->
              <!-- the names of the bride and the groom    -->
              <h1 class="text-capitalize" style="font-size: 40px; margin-left: 0px;  margin-right: 0px">
                <p style="padding: 0px; color: #5c3575; line-height: 120.71429%;">jinal</p>
                <p style="font-size: 20px; color: #5c3575; padding: 0px; line-height: 120.71429%;"> &amp;</p> 
                <p style="padding: 0px; color: #5c3575; line-height: 120.71429%;">harshad</p>
              </h1>

            </div>
            <div class="banner-date">
              <ul style="background-color: #fac0b7">
                <h3 class="text-uppercase" style="font-size:15px;margin-bottom: 0px; color: #ad658b; font-family: Montserrat">save the date</h3>
                <!-- <p class="text-uppercase" style="color:#5c3575">at one o'clock in the afternoon</p> -->
              </ul>
            </div>
            <div class="banner-date">
              <ul>
                <!-- wedding date-->
                <li>11</li>
                <li><span class="dot"></span></li>
                <!-- wedding month-->
                <li>12</li>
                <li><span class="dot"></span></li>
                <!-- wedding year-->
                <li>2017</li>
              </ul>
            </div>
            <!-- <div class="banner-detail">
              <h3 class="text-capitalize" style="font-size:40px; color: #5c3575">mayfair rooms</h3>
              <p class="text-uppercase" style="color:#5c3575">at one o'clock in the afternoon</p>
            </div> -->
            
          </div>
        </div>
      </section>
    </header>
    <main>
      <!-- WELCOME SECTION  -->
      <section id="welcome-section">
        <!-- <div class="section-background">
          <div class="flower right" style=" right:2%;"><img style="height:300px" src="../static/img/bride1.png" alt="section background image"/></div>
          <div class="flower left" style=" left:2%;"><img style="height:320px" src="../static/img/groom1.png" alt="section background image"/></div>
        </div> -->
        <div class="container">
          <div class="row justify-content-center">
            <div class="section-header"><img src="../static/img/ganpati.png" alt="flower logo"/>
              <!-- sub heading section-->
              <h6 class="text-capitalize" style="font-size: 40px">special day is in ...</h6>
              <!-- heading section-->
            </div>
          </div>
          <!-- <div class="row justify-content-center" >
            <div class="section-body col-sm-8" > -->
              <div id="clockdiv" >
                <div>
                  <span class="days"></span>
                  <div class="smalltext">Days</div>
                </div>
                <div>
                  <span class="hours"></span>
                  <div class="smalltext">Hours</div>
                </div>
                <div>
                  <span class="minutes"></span>
                  <div class="smalltext">Minutes</div>
                </div>
                <div>
                  <span class="seconds"></span>
                  <div class="smalltext">Seconds</div>
                </div>
              </div>

            <!-- </div>
          </div> -->
        </div>
      </section>
      <!-- BRIDE PROFILE SECTION-->
      <section id="bride-profile-section">
        <div class="profile-section-photo">
          <!-- bride photo-->
        </div>
        <div class="container-fluid">   
          <div class="row">
            <div class="event-detail col-md-12 col-lg-6 align-self-center order-1">
              <div class="event-detail-header" style="margin-top: 50px;">
                <div class="section-header"><img src="../static/img/ganpati.png" alt="flower logo"/>
                  <h6 class="text-capitalize">the bride</h6>
                  <h2 class="text-capitalize">jinal jain</h2>
                </div>
              </div> 
              <div class="profile-section-body" style="margin:20px">
                <p>Chori Badi Drama Queen Hai</p>
                <p>This sentence is enough to describe her in every way</p>
                <p>She is not at all simple, the most elegant and big at heart</p>
                <p>Live-wire of her family</p>
                <p>Her supportive nature makes her special</p>
                <p>Spreading love wherever she goes</p>
              </div>
            </div>
            <div class="event-photo col-md-12 col-lg-6 order-2">
              <!-- event photo--><img src="../static/img/jinal.png" alt="bride photo" style="width: 100%">
            </div>

          </div>
      </section>
      <!-- BRIDE FAMILY SECTION-->
      <section id="family-section">
        <div class="container">
          <div class="section-header row justify-content-center">
            <div class="col-sm-6 col-md-8 text-center">
              <div class="section-header"><img src="../static/img/ganpati.png" alt="flower logo"/>
                <!-- sub heading section-->
                <h6 class="text-capitalize" style="font-size:50px">the bride's family</h6>
                <!-- heading section-->
              </div>
              <!-- section description-->
            </div>
          </div>
          <div class="section-body row">
            <div class="col-sm-4 col-md-8 col-lg-4 mx-auto">
              <div class="card-profile text-center">
                <div class="card-profile-background"></div>
                <div class="card-profile-content">
                  <div class="flowers">
                    <div class="flower-left"><img src="../static/img/flower.png" alt="flower"></div>
                    <div class="flower-right"><img src="../static/img/flower.png" alt="flower"></div>
                  </div>
                  <div class="card-profile-photo">
                    <!-- the bridesmaid or groomsmain photo--><img src="../static/img/rajesh.png" alt="card profile photo">
                  </div>
                  <!-- the bridesmaid or groomsman title-->
                  <h6 class="text-capitalize">dad</h6>
                  <!-- the bridesmaid or groomsman name-->
                  <h3 class="text-capitalize">rajesh</h3><span class="dot"></span>
                  <!-- the bridesmaid or groomsman messages-->
                  <p>"There is no man in this world that deserves my daughter, but Harshad has come quite close."</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-8 col-lg-4 mx-auto">
              <div class="card-profile text-center">
                <div class="card-profile-background"></div>
                <div class="card-profile-content">
                  <div class="flowers">
                    <div class="flower-left"><img src="../static/img/flower.png" alt="flower"></div>
                    <div class="flower-right"><img src="../static/img/flower.png" alt="flower"></div>
                  </div>
                  <div class="card-profile-photo">
                    <!-- the bridesmaid or groomsmain photo--><img src="../static/img/usha.png" alt="card profile photo">
                  </div>
                  <!-- the bridesmaid or groomsman title-->
                  <h6 class="text-capitalize">mom</h6>
                  <!-- the bridesmaid or groomsman name-->
                  <h3 class="text-capitalize">usha</h3><span class="dot"></span>
                  <!-- the bridesmaid or groomsman messages-->
                  <p>"The time has come for my princess to leave her castle."</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-8 col-lg-4 mx-auto">
              <div class="card-profile text-center">
                <div class="card-profile-background"></div>
                <div class="card-profile-content">
                  <div class="flowers">
                    <div class="flower-left"><img src="../static/img/flower.png" alt="flower"></div>
                    <div class="flower-right"><img src="../static/img/flower.png" alt="flower"></div>
                  </div>
                  <div class="card-profile-photo">
                    <!-- the bridesmaid or groomsmain photo--><img src="../static/img/jimit.png" alt="card profile photo">
                  </div>
                  <!-- the bridesmaid or groomsman title-->
                  <h6 class="text-capitalize">brother</h6>
                  <!-- the bridesmaid or groomsman name-->
                  <h3 class="text-capitalize">jimit</h3><span class="dot"></span>
                  <!-- the bridesmaid or groomsman messages-->
                  <p>"We have always been partners in crime, but now jiju has stolen her away."</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- GROOM PROFILE SECTION-->
      <section id="groom-profile-section">
        <!-- <div class="profile-section-photo">
           the groom photo<img src="../static/img/jiju.png" alt="groom photo">
        </div> -->
        <div class="container-fluid">   
          <div class="row">
            <div class="event-detail col-md-12 col-lg-6 align-self-center order-1">
              <div class="event-detail-header" style="margin-top: 50px;">
                <div class="section-header"><img src="../static/img/ganpati.png" alt="flower logo"/>
                  <h6 class="text-capitalize">the groom</h6>
                  <h2 class="text-capitalize">harshad bafna</h2>
                </div>
              </div> 
              <div class="profile-section-body" style="margin:20px">
                
                <p>Harshad - A word that means Happiness</p>
                <p>And he does this in all ways</p>
                <p>A man with an awesome mindset</p>
                <p>Very humble, simple, and motivated</p>
                <p>The naughtiest person one could ever meet</p>
                <p>Has a very huge heart when it comes to helping people</p>
              </div>
            </div>
            <div class="event-photo col-md-12 col-lg-6 order-2">
              <!-- event photo--><img src="../static/img/jiju2.png" alt="groom photo" style="width: 100%">
            </div>

          </div>
          <!-- <div class="row align-items-center">
            <div class="profile-section-detail col-sm-5 col-md-12 col-lg-6 col-xl-5 mr-auto order-2">
              <div class="profile-section-header">
                <div class="section-header"><img src="../static/img/ganpati2.png" alt="flower logo"/>
                  
                  <h6 class="text-capitalize">the groom</h6>
                  
                  <h2 class="text-capitalize">harshad bafna</h2>
                </div>
              </div>
              <div class="profile-section-body">
                
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
                <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
                <p>Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
                <p>Aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
              </div>
            </div>
            <div class="profile-section-gallery col-sm-4 col-md-12 col-lg-6 col-xl-4 order-1">
              <div class="profile-gallery-item groom-gallery">
                <a href="../static/img/groom-gallery-1.jpg"><img src="../static/img/groom-gallery-1.jpg" alt="gallery photo"></a>
              </div>
              <div class="profile-gallery-item groom-gallery">
                <a href="../static/img/groom-gallery-2.jpg"><img src="../static/img/groom-gallery-2.jpg" alt="gallery photo"></a>
              </div>
              <div class="profile-gallery-item groom-gallery">
                <a href="../static/img/groom-gallery-3.jpg"><img src="../static/img/groom-gallery-3.jpg" alt="gallery photo"></a>
              </div>
            </div>
          </div> -->
        </div>
      </section>
      <!-- GROOM FAMILY SECTION-->
      <section id="family-section">
        <div class="container">
          <div class="section-header row justify-content-center">
            <div class="col-sm-6 col-md-8 text-center">
              <div class="section-header"><img src="../static/img/ganpati.png" alt="flower logo"/>
                <!-- sub heading section-->
                <h6 class="text-capitalize" style="font-size:50px">the groom's family</h6>
                <!-- heading section-->
              </div>
              <!-- section description-->
            </div>
          </div>
          <div class="section-body row">
            <div class="col-sm-4 col-md-8 col-lg-4 mx-auto">
              <div class="card-profile text-center">
                <div class="card-profile-background"></div>
                <div class="card-profile-content">
                  <div class="flowers">
                    <div class="flower-left"><img src="../static/img/flower.png" alt="flower"></div>
                    <div class="flower-right"><img src="../static/img/flower.png" alt="flower"></div>
                  </div>
                  <div class="card-profile-photo">
                    <!-- the bridesmaid or groomsmain photo--><img src="../static/img/vimal.png" alt="card profile photo">
                  </div>
                  <!-- the bridesmaid or groomsman title-->
                  <h6 class="text-capitalize">dad</h6>
                  <!-- the bridesmaid or groomsman name-->
                  <h3 class="text-capitalize">vimal</h3><span class="dot"></span>
                  <!-- the bridesmaid or groomsman messages-->
                  <p>"Jinal is a smart and beautiful girl, she would make a lovely addition to our family."</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-8 col-lg-4 mx-auto">
              <div class="card-profile text-center">
                <div class="card-profile-background"></div>
                <div class="card-profile-content">
                  <div class="flowers">
                    <div class="flower-left"><img src="../static/img/flower.png" alt="flower"></div>
                    <div class="flower-right"><img src="../static/img/flower.png" alt="flower"></div>
                  </div>
                  <div class="card-profile-photo">
                    <!-- the bridesmaid or groomsmain photo--><img src="../static/img/anita.png" alt="card profile photo">
                  </div>
                  <!-- the bridesmaid or groomsman title-->
                  <h6 class="text-capitalize">mom</h6>
                  <!-- the bridesmaid or groomsman name-->
                  <h3 class="text-capitalize">anita</h3><span class="dot"></span>
                  <!-- the bridesmaid or groomsman messages-->
                  <p>"Now I can finally say, I too have a daughter."</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-8 col-lg-4 mx-auto">
              <div class="card-profile text-center">
                <div class="card-profile-background"></div>
                <div class="card-profile-content">
                  <div class="flowers">
                    <div class="flower-left"><img src="../static/img/flower.png" alt="flower"></div>
                    <div class="flower-right"><img src="../static/img/flower.png" alt="flower"></div>
                  </div>
                  <div class="card-profile-photo">
                    <!-- the bridesmaid or groomsmain photo--><img src="../static/img/bro.png" alt="card profile photo">
                  </div>
                  <!-- the bridesmaid or groomsman title-->
                  <h6 class="text-capitalize">brother</h6>
                  <!-- the bridesmaid or groomsman name-->
                  <h3 class="text-capitalize">divyesh</h3><span class="dot"></span>
                  <!-- the bridesmaid or groomsman messages-->
                  <p>"Looking forward to pull bhai's leg with my new bhabhi. xD"</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="welcome-section" style="background-color: #79578e; padding-top: 100px; padding-bottom: 50px">
        <!-- <div class="section-background">
          <div class="flower right" style=" right:2%;"><img style="height:300px" src="../static/img/bride2.png" alt="section background image"/></div>
          <div class="flower left" style=" left:2%;"><img style="height:320px" src="../static/img/groom2.png" alt="section background image"/></div>
        </div> -->
        <div class="container">
          <div class="row justify-content-center">
            <div class="section-header" style="margin:10px">
              <!-- <img src="../static/img/ganpati.png" alt="flower logo"/> -->
              <!-- sub heading section-->
              <h6 class="text-capitalize" style="font-size: 80px; color: #e2dbe7;">invitation</h6>
              <!-- heading section-->
                  <p style="font-size:16px; color: #e2dbe7">|| Shree Aadinathay Nahah ||<br>|| Shree Shanti Nathay Namah ||<br>|| Shree Ambe Mata Namah ||</p>
                  <br>  
                  <br>  

                  <p style="font-size:20px; color: #e2dbe7">Smt. Usha & Shri Rajeshkumar Nagrajji</p>
                  <br>  
                  <p style="font-size:20px; color: #e2dbe7">SOLICIT YOUR BLESSINGS AND CORDIALLY INVITE YOU BOTH TO<br>THE AUSPICIOUS WEDDING CELEBRATIONS OF OUR DAUGHTER</p>
                  <br>  
                  <br>  
                  <h6 class="text-capitalize" style="font-size: 60px; padding-bottom: 5px; color: #e2dbe7;">jinal</h6>
                  <p style="font-size:20px; color: #e2dbe7">(G/D/O. Late Smt. Kamlaben & Late Shri Nagrajji Sheshmalji Solanki, Sadri, Ranakpur)</p>
                  <br>  
                  <br>  
                  <h6 class="text-capitalize" style="color: #e2dbe7;">weds</h6>
                  <br>  
                  <br> 
                  <h6 class="text-capitalize" style="font-size: 60px; padding-bottom: 5px; color: #e2dbe7;">harshad</h6>
                  <p style="font-size:20px; color: #e2dbe7">(G/S/O. Smt. Shantaben & Shri Chunilalji Bafna)<br>(S/O. Smt. Anita & Shri Vimal Bafna, Kirwa)</p>
                  <br>
                  <br>
                  <br>  
                  <br>  
                  <p style="font-size:20px; color: #e2dbe7">On Monday, 11th December 2017.</p>
                  <br>  
                  <br>  
                  <p style="font-size:20px; color: #e2dbe7">MAYFAIR ROOMS,<br>254-C, Dr Annie Besant Road,<br>Worli, Mumbai-400030</p>
                  <br>  
                  <br>
                  <br>  
                  <p style="font-size:15px; color: #e2dbe7">*Valet Parking Available</p>
            </div>
          </div>
          </div>
        </div>
      </section>
      <!-- EVENTS SECTION-->
      <section id="events-section">
        <div class="container-fluid">
          <h6 class="text-capitalize" style="font-size:40px; color:#79578e; padding:30px">wedding events</h6>
          <div class="row">
            <div class="event-detail col-md-12 col-lg-6 align-self-center order-2">
              <div class="event-detail-header">
                <div class="section-header"><img src="../static/img/ganpati.png" alt="flower logo"/>
                  <!-- sub heading section-->
                  <!-- <h6 class="text-capitalize">wedding event</h6> -->
                  <!-- heading section-->
                  <h2 class="text-capitalize">Baraat Swagat</h2>
                </div>
              </div>
              <!-- <div class="event-detail-body"> -->
                <!-- event description-->
                <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p> -->
              <!-- </div> -->
              <div class="event-detail-footer"   style="width: 100%; text-align: center">
                <div class="time">
                  <!-- event time-->
                  <h4>10:30AM</h4>
                </div>
                
              </div>
            </div>
            <div class="event-photo col-md-12 col-lg-6 order-1">
              <!-- event photo--><img src="../static/img/baraatswagat.jpg" alt="event photo">
            </div>
          </div>
          <div class="row">
            <div class="event-detail col-md-12 col-lg-6 align-self-center order-1">
              <div class="event-detail-header">
                <div class="section-header"><img src="../static/img/ganpati.png" alt="flower logo"/>
                  <!-- sub heading section-->
                  <!-- <h6 class="text-capitalize">wedding event</h6> -->
                  <!-- heading section-->
                  <h2 class="text-capitalize">samdhi milan</h2>
                </div>
              </div>
              <!-- <div class="event-detail-body"> -->
                <!-- event description-->
                <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p> -->
              <!-- </div> -->
              <div class="event-detail-footer" style="width: 100%; text-align: center">
                <div class="time">
                  <!-- event time-->
                  <h4>11:00AM</h4>
                </div>
                
              </div>
            </div>
            <div class="event-photo col-md-12 col-lg-6 order-2">
              <!-- event photo--><img src="../static/img/milan.jpg" alt="event photo">
            </div>
          </div>
          <div class="row">
            <div class="event-detail col-md-12 col-lg-6 align-self-center order-2">
              <div class="event-detail-header">
                <div class="section-header"><img src="../static/img/ganpati.png" alt="flower logo"/>
                  <!-- sub heading section-->
                  <!-- <h6 class="text-capitalize">wedding event</h6> -->
                  <!-- heading section-->
                  <h2 class="text-capitalize">priti bhoj</h2>
                </div>
              </div>
              <!-- <div class="event-detail-body"> -->
                <!-- event description-->
                <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p> -->
              <!-- </div> -->
              <div class="event-detail-footer" style="width: 100%; text-align: center">
                <div class="time">
                  <!-- event time-->
                  <h4>12:00-2:00PM</h4>
                </div>
                
              </div>
            </div>
            <div class="event-photo col-md-12 col-lg-6 order-1">
              <!-- event photo--><img src="../static/img/pritibhoj.jpg" alt="event photo">
            </div>
          </div>
          <div class="row">
            <div class="event-detail col-md-12 col-lg-6 align-self-center order-1">
              <div class="event-detail-header">
                <div class="section-header"><img src="../static/img/ganpati.png" alt="flower logo"/>
                  <!-- sub heading section-->
                  <!-- <h6 class="text-capitalize">wedding event</h6> -->
                  <!-- heading section-->
                  <h2 class="text-capitalize">reception</h2>
                </div>
              </div>
              <!-- <div class="event-detail-body"> -->
                <!-- event description-->
                <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p> -->
              <!-- </div> -->
              <div class="event-detail-footer" style="width: 100%; text-align: center">
                <div class="time">
                  <!-- event time-->
                  <h4>1:00-3:00PM</h4>
                </div>
                
              </div>
            </div>
            <div class="event-photo col-md-12 col-lg-6 order-2">
              <!-- event photo--><img src="../static/img/mayfair.jpeg" alt="event photo">
            </div>
          </div>
          <div class="row">
            <div class="event-detail col-md-12 col-lg-6 align-self-center order-2">
              <div class="event-detail-header">
                <div class="section-header"><img src="../static/img/ganpati.png" alt="flower logo"/>
                  <!-- sub heading section-->
                  <!-- <h6 class="text-capitalize">wedding event</h6> -->
                  <!-- heading section-->
                  <h2 class="text-capitalize">hast milap</h2>
                </div>
              </div>
              <!-- <div class="event-detail-body"> -->
                <!-- event description-->
                <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p> -->
              <!-- </div> -->
              <div class="event-detail-footer" style="width: 100%; text-align: center">
                <div class="time">
                  <!-- event time-->
                  <h4 style="font-size: 20px;">Godhulik Bela</h4>
                </div>
                
              </div>
            </div>
            <div class="event-photo col-md-12 col-lg-6 order-1">
              <!-- event photo--><img src="../static/img/hastmilap.jpg" alt="event photo">
            </div>
          </div>
        </div>
      </section>
      <br>
      <br>
      <h6 class="text-capitalize" style="font-size: 60px; color: #79578e;padding-top: 10px; ">Venue</h6>
              <div class="row">
              <div style="text-align: center; width: 100%">
                <p style="font-size:20px; color:#79578e; padding: 60px;">MAYFAIR ROOMS,<br>254-C, Dr Annie Besant Road,<br>Worli, Mumbai-400030</p>
              </div>
              </div>
              <div class="row">  
              <div style="text-align: center; width: 100%; margin-right:15px">
                  
                  <div id="map"></div>
                  <script>
                    function initMap() {
                      var uluru = {lat: 19.010108, lng: 72.821226};
                      var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 14,
                        center: uluru
                      });
                      var marker = new google.maps.Marker({
                        position: uluru,
                        map: map
                      });
                    }
                  </script>
                  <script async defer
                  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUY2f4A9tx4z2v6MDY1VK-B4ct8sPoQfg&callback=initMap">
                  </script>
              </div>        
               
              </div>
              <br>
              <br>

      <section id="welcome-section" style="background-color: #79578e;">
        <!-- <div class="section-background">
          <div class="flower right" style=" right:2%;"><img style="height:300px" src="../static/img/bride1.png" alt="section background image"/></div>
          <div class="flower left" style=" left:2%;"><img style="height:320px" src="../static/img/groom1.png" alt="section background image"/></div>
        </div> -->
        <div class="container">
          <div class="row justify-content-center">
            <div class="section-header">
              <img style="top:20px" src="../static/img/ganpati2.png" alt="flower logo"/>
              <!-- sub heading section-->
              <h6 class="text-capitalize" style="font-size: 60px; color: #e2dbe7;">barat</h6>
              <p style="font-size: 20px; color: #e2dbe7">Sha Vimal Kumarji Chunilalji Bafna, Kirwa</p>
              <!-- heading section-->
              <br>  
              <br>
              <br>  
              <h6 class="text-capitalize" style="font-size: 60px; color: #e2dbe7;">mushala</h6>
              <p style="font-size: 20px; color: #e2dbe7">Matushree Ansiben Ganeshmalji Hirachandji, Matiya, Sheoganj.<br>Champalalji, Anandji, Kishorji, Sanjayji</p>
            </div>
          </div>
          </div>
        </div>
      </section>
      <section id="family-section">
        <div class="container">
          <div class="section-header row justify-content-center">
            <div class="col-sm-6 col-md-8 text-center">
              <div class="section-header"><img src="../static/img/ganpati.png" alt="flower logo"/>
                <!-- sub heading section-->
                <h6 class="text-capitalize" style="font-size:50px">special mentions</h6>
                <!-- heading section-->
              </div>
              <!-- section description-->
            </div>
          </div>
          <div class="section-body row">
            <div class="col-sm-4 col-md-8 col-lg-4 mx-auto">
              <div class="card-profile text-center">
                <div class="card-profile-background"></div>
                <div class="card-profile-content">
                  <!-- the bridesmaid or groomsman title-->
                  <h6 class="text-capitalize" style="font-size: 28px">with best wishes</h6>
                  <br>  
                  <br>  
                  <br>  
                  <p style="font-size: 16px">Babulalji Sagarmalji</p>
                  <p style="font-size: 16px">Ramesh Gulabchandji</p>
                  <p style="font-size: 16px">Arvind Pukhrajji</p>
                  <p style="font-size: 16px">Bharat Chunilalji</p>
                  <p style="font-size: 16px">Champak Nagrajji</p>
                  <p style="font-size: 16px">Ashok Nagrajji</p>
                  <p style="font-size: 16px">Mahendra Nagrajji</p>
                  <p style="font-size: 16px">Rajesh Nagrajji</p>
                  <p style="font-size: 16px">Suresh Harakchandji</p>
                  <p style="font-size: 16px">Hasmukh Laxmichandji</p>
                  <p style="font-size: 16px">Jimit Rajesh</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-8 col-lg-4 mx-auto">
              <div class="card-profile text-center">
                <div class="card-profile-background"></div>
                <div class="card-profile-content">
                  <h6 class="text-capitalize" style="font-size: 28px">with best regards</h6>
                  <br>  
                  <br>  
                  <br>  
                  <p style="font-size: 16px">Kailash Bharatkumar</p>
                  <p style="font-size: 16px">Ramila Champak</p>
                  <p style="font-size: 16px">Hema Ashok</p>
                  <p style="font-size: 16px">Sangeeta Mahendra</p>
                  <p style="font-size: 16px">Usha Rajesh</p>
                  <p style="font-size: 16px">Akshaya Nikhil</p>
                  <p style="font-size: 16px">Urvi Harshad</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-8 col-lg-4 mx-auto">
              <div class="card-profile text-center">
                <div class="card-profile-background"></div>
                <div class="card-profile-content">
                  <h6 class="text-capitalize" style="font-size: 28px">with best compliments</h6>
                  <br>  
                  <br>  
                  <br>  
                  <p style="font-size: 16px">Khushmati Rameshji</p>
                  <p style="font-size: 16px">Jaya Rohitji</p>
                  <p style="font-size: 16px">Richa Pratikji</p>
                  <p style="font-size: 16px">Hemali Rahulji</p>
                  <p style="font-size: 16px">Monica Bhaveshji</p>
                </div>
              </div>
            </div>
          </div>
          <br>  
          <br>  
          <br>  
          <div class="section-header row justify-content-center">
            <div class="col-sm-6 col-md-8 text-center">
                <!-- sub heading section-->
                <h6 class="text-capitalize" style="font-size:40px">special invite</h6>
                <!-- heading section-->
                <p style="font-size:25px">Bhavin, Chirag, Himanshu, Karan, Jimit, Kinjal, Ankita, Silvi</p>
              </div>
              <!-- section description-->
            </div>
          </div>
        </div>
      </section>
      <section id="welcome-section" style="background-color: #79578e; padding-bottom: 50px">
        <!-- <div class="section-background">
          <div class="flower right" style=" right:2%;"><img style="height:300px" src="../static/img/bride1.png" alt="section background image"/></div>
          <div class="flower left" style=" left:2%;"><img style="height:320px" src="../static/img/groom1.png" alt="section background image"/></div>
        </div> -->
        <div class="container">
          <div class="row justify-content-center">
            <div class="section-header">
              <!-- <img src="../static/img/ganpati.png" alt="flower logo"/> -->
              <!-- sub heading section-->
              <h6 class="text-capitalize" style="font-size: 60px; color: #e2dbe7;">firms</h6>
              <p style="font-size: 18px; color: #e2dbe7">MIT ENTERPRISE<br>H.M. TEXTILE<br>SOLANKI TEXTILE</p>
              <br>  
              <br>
              <br>  
              <h6 class="text-capitalize" style="font-size: 60px; color: #e2dbe7;">residence</h6>
              <p style="font-size: 18px; color: #e2dbe7">439, Shivaji Nagar, Co-op. HSG. So.<br>N.M. Marg, Delisle Road<br>Lower Parel (E), Mumbai-13</p>
              <br>
              <br>
              <br>
              <br>  
              <br>  
              <br>  
              <p style="font-size: 20px; color: #e2dbe7;">Your gift in the form of</p>
              <br>
              <h6 class="text-capitalize" style="font-size: 70px; color: #e2dbe7;">blessings only</h6>
            </div>
          </div>
          </div>
        </div>
      </section>
      <section id="gift-section">
        <div class="container">
          <div class="section-header"><img src="../static/img/ganpati.png" alt="flower logo"/>
              <h6 class="text-capitalize" style="font-size:50px">pre-wedding shoot</h6>
          </div>
          <div class="row" style="margin:10px">
            <div id="owl-demo" class="owl-carousel owl-theme">
              <div class="item">
                <img src="../static/img/IMG_6978.jpg" alt=" " onclick="openModal();currentSlide(1)" class="hover-shadow">
              </div>
              <div class="item">
                <img src="../static/img/IMG_6997.jpg" alt=" " onclick="openModal();currentSlide(2)" class="hover-shadow">
              </div>
              <div class="item">
                <img src="../static/img/IMG_7005.jpg" alt=" " onclick="openModal();currentSlide(3)" class="hover-shadow">
              </div>
              <div class="item">
                <img src="../static/img/banner-img.jpg" alt=" " onclick="openModal();currentSlide(4)" class="hover-shadow">
              </div>
              <div class="item">
                <img src="../static/img/boat.png" alt=" " onclick="openModal();currentSlide(5)" class="hover-shadow">
              </div>
            </div>
          </div>
          <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content" style="vertical-align: center">

              <div class="mySlides">
                <img src="../static/img/IMG_6978.jpg" style="width:100%">
              </div>

              <div class="mySlides">
                <img src="../static/img/IMG_6997.jpg" style="width:100%">
              </div>

              <div class="mySlides">
                <img src="../static/img/IMG_7005.jpg" style="width:100%">
              </div>

              <div class="mySlides">
                <img src="../static/img/banner-img.jpg" style="width:100%">
              </div>

              <div class="mySlides">
                <img src="../static/img/boat.png" style="width:100%">
              </div>
              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
          </div>
        </div>
      </section>
      <!-- GIFT SECTION-->
      <section id="gift-section">
        <div class="container">
          <div class="section-header"><img src="../static/img/ganpati.png" alt="flower logo"/>
              <h6 class="text-capitalize" style="font-size:50px">our blessings</h6>
          </div>
          <div class="row" style="margin:10px">
            <div class="owl-carousel owl-theme" >
                {% for w in wishes %}
                  <div class="gift-card mx-auto">
                    <div class="gift-card-body" style="position: relative;min-height: 300px;">
                      <div class="item"> 
                        <div>  
                          <p>"{{w.text}}"</p>
                        </div>
                        <div> 
                            <h6 class="text-capitalize" style="font-size: 40px; color: #79578e;position: absolute; bottom: 0;right:  0">-{{w.author}}</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
        </div>
      </section>
              
               
      <!-- RSPV SECTION-->
      <section id="rspv-section">
        <!-- <div class="section-background">
          <div class="flower right" style=" right:2%;"><img style="height:300px" src="../static/img/bride1.png" alt="section background image"/></div>
          <div class="flower left" style=" left:2%;"><img style="height:320px" src="../static/img/groom1.png" alt="section background image"/></div>
        </div> -->
        <div class="container">
          <div class="row">
            <div class="rspv-section-head col-sm-12 col-lg-8 mx-auto" style="margin-bottom: -40px;">
              <div class="section-header"><img style="top:-10px" src="../static/img/ganpati.png" alt="flower logo"/>
                <!-- sub heading section-->
                <h6 class="text-capitalize" style="font-size: 50px; top:-30px">send a wish</h6>
              </div>
            </div>
            <div class="rspv-section-body col-sm-12 col-lg-10 mx-auto">
              <form action="#" method="post" id="wish">
                {% csrf_token %}
                <div class="row rspv-section-input-area">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="sr-only" for="name">your name</label>
                      <input class="form-control" type="text" name="author" placeholder="your name">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="sr-only" for="messsage">your wish</label>
                      <textarea class="form-control" name="message" placeholder="message" maxlength="200"></textarea>
                      <p>Please restrict your message to 200 characters</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 text-center">
                    <button class="btn btn-default" type="submit">submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <!-- FOOTER SECTION-->
      <section id="footer-section" style="background-image:url('../static/img/banner.png');">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-lg-6 mx-auto" style="margin-top:80px">
              <!-- the names of bride and the grooms name-->

              <h6 class="text-uppercase footer-head" style="margin-bottom:0px">jinal &amp; harshad</h6>
              <!-- footer heading-->
              <h1 class="text-capitalize footer-body" style="margin-bottom:0px; margin-top: 20px;">thank you</h1>
              <!-- footer messages-->
              <p class="text-uppercase footer-foot">we hope to see you and your spouse there</p>
              <img src="../static/img/logo2.png" style="height:150px; margin-top: 10px">
            </div>
          </div>
        </div>

      </section>
      <!-- SOUNDCLOUD PLAYER-->
      <div id="soundcloud-player">
        <div class="music-button"><i class="icon ion-music-note"></i></div>
        <div class="music-frame">
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/155593884&amp;color=%23ff5500&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe></div>
      </div>
    </footer>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.scrollTo/jquery.scrollTo.min.js"></script>
    <script src="../static/js/jquery.localScroll/jquery.localScroll.min.js"></script>
    <script src="../static/js/jquery.magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/owl-carousel/owl.carousel.min.js"></script>
    <script src="../static/js/main.js"></script>    
    <script>
      $('.owl-carousel').owlCarousel({
      loop:true,
      margin:10,
      nav:true,
      slideBy:1,
      responsiveClass:true,
      responsive:{
          0:{
              items:1,
              nav:true
          },
          600:{
              items:3,
              nav:true
          }
      }
  })
    </script>
    <script>
      function getTimeRemaining(endtime) {
  var t = endtime - new Date().getTime();
  var seconds = Math.floor((t / 1000) % 60);
  var minutes = Math.floor((t / 1000 / 60) % 60);
  var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
  var days = Math.floor(t / (1000 * 60 * 60 * 24));
  return {
    'total': t,
    'days': days,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
  };
}

function initializeClock(id, endtime) {
  var clock = document.getElementById(id);
  var daysSpan = clock.querySelector('.days');
  var hoursSpan = clock.querySelector('.hours');
  var minutesSpan = clock.querySelector('.minutes');
  var secondsSpan = clock.querySelector('.seconds');

  function updateClock() {
    var t = getTimeRemaining(endtime);

    daysSpan.innerHTML = t.days;
    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

    if (t.total <= 0) {
      clearInterval(timeinterval);
    }
  }

  updateClock();
  var timeinterval = setInterval(updateClock, 1000);
}

var deadline = new Date("Dec 11, 2017 13:00:00").getTime();
initializeClock('clockdiv', deadline);
    </script>
    <script>
      $(document).ready(function() {
 
        $("#owl-demo").owlCarousel({
       
            autoPlay: 3000, //Set AutoPlay to 3 seconds
       
            items : 4,
            itemsDesktop : [1199,3],
            itemsDesktopSmall : [979,3]
       
        });
       
      });
    </script>
    <script>
      function openModal() {
        document.getElementById('myModal').style.display = "block";
      }

      function closeModal() {
        document.getElementById('myModal').style.display = "none";
      }

      var slideIndex = 1;
      showSlides(slideIndex);

      function plusSlides(n) {
        showSlides(slideIndex += n);
      }

      function currentSlide(n) {
        showSlides(slideIndex = n);
      }

      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        captionText.innerHTML = dots[slideIndex-1].alt;
      }
    </script>
  </body>

<!-- Mirrored from javatheme.com/clarissa-v2/homepage-standart-01.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 Nov 2017 15:48:19 GMT -->
</html>